@{
    ViewBag.Title = "Home Page";
}
<head>
    <title>Shooting Manager: Home</title>
</head>
<div class="container">
    <!-- Heading Row -->
    <div class="row">
        <div class="col-md-8">
            <figure>
                <img class="img-responsive img-rounded" src="~/images/revolver.jpg" alt="" width="900" height="350">
                <figcaption>Colt .45</figcaption>
            </figure>
        </div>
        <!-- /.col-md-8 -->
        <div class="col-md-4">
            <h1>Welcome to the ShootingManager.Web</h1>
            <p>This site is dedicated to the wonderful world of shooting! Use the tools here to manage all aspects of shooting, from inventory to load recipies.</p>
            <a class="btn btn-primary btn-lg" href="#">Call to Action!</a>
        </div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->
    <hr>
    <!-- Call to Action Well -->
    <div class="row">
        <div class="col-lg-12">
            <div class="well text-center">
                Remember to aim steady!
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <!-- Content Row -->
    <div class="row">
        <div class="col-md-4">
            <h2>Add Items</h2>
            <p>
                Add guns, reloading components and supporting items.
            </p>
            <p><a class="btn-style" href="~/Item">Here &raquo;</a></p>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4">
            <h2>Build Cartridges</h2>
            <p>Build cartridges and load recipies.</p>
            <p><a class="btn-style" href="~/Build">Here &raquo;</a></p>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4">
            <h2>Adjust Inventory</h2>
            <p>Manage the number of reloading components and ammunition on hand. Additionally, create build schedules for cartridges.</p>
            <p><a class="btn-style" href="~/Inventory">Here &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2 class="spacer">Spacer</h2>
            <p class="spacer">Spacer only.</p>
        </div>
        <div class="col-md-4">
            <h2>Shooting Log</h2>
            <p>Log shooting sessions, detailing ammunition types and amounts.</p>
            <p><a class="btn-style" href="~/ShootingSession">Here &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2 class="spacer">Spacer</h2>
            <p class="spacer">Spacer only.</p>
        </div>
    </div>
</div>
